<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Thriller</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card1" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Letzter Flug.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card1" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Letzter Flug</h2><br/></div>
                    <div class="details">2014</div>
                    <div class="details">FSK16</div>
                    <div class="details">5 Staffeln</div>
                    <div class="description">
                        <p>Das Team um Manfred besitzt einen Heißluftballon mit denen sie Rundflüge anbieten. Doch sie kommen in Verdacht der Polizei da immer mehr Gäste nicht mehr lebend heimkommen.</p>
                    </div>
                    <label for="card1" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card2" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Mafia.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card2" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Maffia</h2><br/></div>
                    <div class="details">2016</div>
                    <div class="details">FSK18</div>
                    <div class="details">3 Staffeln</div>
                    <div class="description">
                        <p>Der Maffiaboss Frank macht viel Geld in der Drogenszene doch sein Cousin Paul will ihm Konkurrenz machen. Das endet in einem blutigen Krieg.</p>
                    </div>
                    <label for="card2" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card3" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Stahlwerk.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card3" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Stahlwerk</h2><br/></div>
                    <div class="details">2012</div>
                    <div class="details">FSK18</div>
                    <div class="details">2 Staffeln</div>
                    <div class="description">
                        <p>In einem Stahlwerk in dem kleinen Ort Osterhofen gehen merkwürdige Dinge vor sich. Die Lieferanten bekommen nicht nur Stahl geliefert.</p>
                    </div>
                    <label for="card3" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card4" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Shoot Out.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card4" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Shoot out</h2><br/></div>
                    <div class="details">2018</div>
                    <div class="details">FSK16</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Marie möchte sich gegen die übernatürlichen Dinge die bei Nacht vor sich gehen wehren können, deshalb macht sie den Waffenschein und legt sich mehrere Waffen zu. Wird ihr dies helfen?</p>
                    </div>
                    <label for="card4" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card5" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Liars.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card5" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Liars</h2><br/></div>
                    <div class="details">2017</div>
                    <div class="details">FSK12</div>
                    <div class="details">7 Staffeln</div>
                    <div class="description">
                        <p>Vier Freundinnen Lea, Laura, Lena und Leonie leben in einem Vorort von Ravensburg. Nach dem spurlosen Verschwinden ihrer Freundin Leila wird das Leben der vier Freundinnen komplett auf den Kopf gestellt.</p>
                    </div>
                    <label for="card5" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card6" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Zombies.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card6" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Zombies</h2><br/></div>
                    <div class="details">2016</div>
                    <div class="details">FSK16</div>
                    <div class="details">10 Staffeln</div>
                    <div class="description">
                        <p>Eine Zombie Apokalypse bricht in Ravensburg aus. Wer wird der Sieger werden die Zombies oder die Menschheit?</p>
                    </div>
                    <label for="card6" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a routerLink="/thriller">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Komödien</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card7" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Love Time.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card7" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Love Time</h2><br/></div>
                    <div class="details">2016</div>
                    <div class="details">FSK12</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Jenny verliebt sich in den gutaussehenden Comedian Marc, der hat allerdings ganz anderes im Kopf.</p>
                    </div>
                    <label for="card7" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card8" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Nah Und Fern.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card8" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Nah und Fern</h2><br/></div>
                    <div class="details">2013</div>
                    <div class="details">FSK12</div>
                    <div class="details">1 Staffel</div>
                    <div class="description">
                        <p>Der Comedian Dirk macht sich über alle Menschen lustig. Ihm ist das Alter, Religion, Rasse und Kultur dabei völlig egal.</p>
                    </div>
                    <label for="card8" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card9" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Maybe Forever.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card9" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Maybe forever</h2><br/></div>
                    <div class="details">2017</div>
                    <div class="details">FSK6</div>
                    <div class="details">2 Staffeln</div>
                    <div class="description">
                        <p>Das Duo Romeo und Julia nehmen Liebespaare auf den Arm und Filmen mit versteckter Kamera.</p>
                    </div>
                    <label for="card9" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card10" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Urlaub In Den Bergen.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card10" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Urlaub in den Bergen</h2><br/></div>
                    <div class="details">2013</div>
                    <div class="details">FSK6</div>
                    <div class="details">1 Staffel</div>
                    <div class="description">
                        <p>Karl-Heinz der schon Jahrzehnte Urlaub in den Bergen macht reißt darüber Witze wie die Urlauber sich dort verhalten.</p>
                    </div>
                    <label for="card10" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card11" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Moderne Familie.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card11" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Moderne Familie</h2><br/></div>
                    <div class="details">2015</div>
                    <div class="details">FSK12</div>
                    <div class="details">6 Staffeln</div>
                    <div class="description">
                        <p>Die Familien Maier, Müller und Schulze sind drei moderne Familien die familiär verbunden sind. Dennoch könnten die Familien nicht unterschiedlicher sein. </p>
                    </div>
                    <label for="card11" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card12" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Wie Ich Deine Mutter Kennengelernt Habe.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card12" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Wie ich Deine Mutter kennengelernt habe</h2><br/></div>
                    <div class="details">2005</div>
                    <div class="details">FSK12</div>
                    <div class="details">7 Staffeln</div>
                    <div class="description">
                        <p>Karl erzählt seinen fünf Kindern wie er ihre Mutter vor 20 Jahren kennengelernt hat. Dabei lüftet er bisher noch unbekannte Geheimnisse die er besser für sich behalten hätte.</p>
                    </div>
                    <label for="card12" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a routerLink="/komoedien">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Drama</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card13" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Last Time.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card13" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Last Time</h2><br/></div>
                    <div class="details">2012</div>
                    <div class="details">FSK12</div>
                    <div class="details">3 Staffeln</div>
                    <div class="description">
                        <p>Es sollte der letzte Tag sein an dem sich Lea und Tim sehen, denn was danach passiert änderte das Leben der beiden komplett.</p>
                    </div>
                    <label for="card13" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card14" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Lost Place.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card14" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Lost Place</h2><br/></div>
                    <div class="details">2017</div>
                    <div class="details">FSK16</div>
                    <div class="details">6 Staffeln</div>
                    <div class="description">
                        <p>An dem verlorenen Ort spielen sich dramatische Szenen ab die, die Teeniegang rainbow nie vergessen wieder vergessen wird.</p>
                    </div>
                    <label for="card14" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card15" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Letzte Chance.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card15" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Letzte Chance</h2><br/></div>
                    <div class="details">2011</div>
                    <div class="details">FSK16</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Die Familie Maier sitzt in einer Gondel in den Bergen fest und keine Hilfe ist in Sicht. Werden sie es heil wieder auf den Boden schaffen?</p>
                    </div>
                    <label for="card15" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card16" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Decide.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card16" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Decide</h2><br/></div>
                    <div class="details">2019</div>
                    <div class="details">FSK12</div>
                    <div class="details">1 Staffel</div>
                    <div class="description">
                        <p>Jürgen stellt seine Frau Irma vor die Entscheidung, entweder sie adoptiert den Sohn ihres Mannes oder er verlässt sie, was aber in der Gesellschaft nicht akzeptiert wird.</p>
                    </div>
                    <label for="card16" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card17" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Kampf Um Den Thron.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card17" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Kampf um den Thron</h2><br/></div>
                    <div class="details">2012</div>
                    <div class="details">FSK16</div>
                    <div class="details">8 Staffeln</div>
                    <div class="description">
                        <p>Der Kampf um den Thron der Königslande ist ausgebrochen und die sieben Könige und Königinnen bekriegen sich. Wer wird als Gewinner hervorgehen?</p>
                    </div>
                    <label for="card17" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card18" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Anzüge.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card18" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Anzüge</h2><br/></div>
                    <div class="details">2015</div>
                    <div class="details">FSK12</div>
                    <div class="details">6 Staffeln</div>
                    <div class="description">
                        <p>Der junge Bernd ist Hauptberuflicher Trickbetrüger, doch als er auf dem Höhepunkt seine Karriere als Anwalt ausgibt wird viel von ihm verlangt. Werden seine Chefs es jemals herausfinden oder kann Bernd unentdeckt bleiben?</p>
                    </div>
                    <label for="card18" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a routerLink="/drama">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Horror</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card19" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Tick Tack.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card19" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Tick Tack</h2><br/></div>
                    <div class="details">2016</div>
                    <div class="details">FSK16</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Nach dem Verschwinden von dem 6 jährigen Tom läuft die Zeit ihn lebendig zu finden langsam ab.</p>
                    </div>
                    <label for="card19" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card20" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Sumpf See.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card20" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Sumpf See</h2><br/></div>
                    <div class="details">2011</div>
                    <div class="details">FSK18</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Die Ermittler versuchen das Verschwinden von acht Menschen aufzuklären. Die Antwort könnte im Sumpf See liegen.</p>
                    </div>
                    <label for="card20" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card21" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Krieger Der Nacht.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card21" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Krieger der Nacht</h2><br/></div>
                    <div class="details">2015</div>
                    <div class="details">FSK16</div>
                    <div class="details">2 Staffeln</div>
                    <div class="description">
                        <p>Einmal im Jahr ist es erlaubt sich zu töten ohne dass die Taten bestraft werden.</p>
                    </div>
                    <label for="card21" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card22" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/This Door.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card22" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>This door</h2><br/></div>
                    <div class="details">2014</div>
                    <div class="details">FSK18</div>
                    <div class="details">1 Staffel</div>
                    <div class="description">
                        <p>Hinter dieser Türe passieren merkwürdige Dinge und keiner hat es bisher geschafft wieder heil aus dem Haus heraus zu kommen.</p>
                    </div>
                    <label for="card22" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card23" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Unbekannte Dinge.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card23" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Unbekannte Dinge</h2><br/></div>
                    <div class="details">2014</div>
                    <div class="details">FSK16</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Die Gang Chillwatcher, eine Gruppe von Jugendlichen, trifft auf den mysteriösen Paul. Dieser stellt das Leben der Gang buchstäblich auf den Kopf. Und sie wissen nicht mehr ob sie Dinge vergessen oder noch nie gehört haben.</p>
                    </div>
                    <label for="card23" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card24" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Kindsmörder.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card24" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Kindsmörder</h2><br/></div>
                    <div class="details">2016</div>
                    <div class="details">FSK18</div>
                    <div class="details">3 Staffeln</div>
                    <div class="description">
                        <p>Der bisher unbekannte Täter wird von der Polizei mit dem Namen Kindsmörder versehen, da aus der Stadt Ravensburg immer mehr Kinder verschwinden und Monate später Tod aufgefunden werden.</p>
                    </div>
                    <label for="card24" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a routerLink="/horror">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Kids</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card25" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Freunde.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card25" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Freunde</h2><br/></div>
                    <div class="details">2017</div>
                    <div class="details">FSK0</div>
                    <div class="details">2 Staffeln</div>
                    <div class="description">
                        <p>Teddy ist der beste Freund von Freddy und begleitet ihn überall hin.</p>
                    </div>
                    <label for="card25" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card26" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Action Park.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card26" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Action Park</h2><br/></div>
                    <div class="details">2012</div>
                    <div class="details">FSK6</div>
                    <div class="details">2 Staffeln</div>
                    <div class="description">
                        <p>Anton entdeckt sein großes Talent das Biken. Er trainiert jeden Tag fleißig im Action park wo es eine lange Bike Strecke gibt.</p>
                    </div>
                    <label for="card26" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card27" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Spielkinder.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card27" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Spielkinder</h2><br/></div>
                    <div class="details">2019</div>
                    <div class="details">FSK0</div>
                    <div class="details">5 Staffeln</div>
                    <div class="description">
                        <p>Das Duo Pia und Max entdecken gemeinsam die Welt und erklären dabei was sie erleben.</p>
                    </div>
                    <label for="card27" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card28" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Weihnachtsmann Und Co. KG.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card28" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Weihnachtsmann und Co.KG</h2><br/></div>
                    <div class="details">2012</div>
                    <div class="details">FSK0</div>
                    <div class="details">7 Staffeln</div>
                    <div class="description">
                        <p>Der Weihnachtsmann beschenkt mithilfe seiner fleißigen Elfen die Kinder in ganz Ravensburg, dabei passieren ihm einige Missgeschicke.</p>
                    </div>
                    <label for="card28" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card29" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Heidi Und Peter.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card29" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Heidi und Peter</h2><br/></div>
                    <div class="details">2014</div>
                    <div class="details">FSK6</div>
                    <div class="details">3 Staffeln</div>
                    <div class="description">
                        <p>Heidi die bei ihrer Großmutter Hilde in den Ferien ist trifft auf den jungen Peter mit dem sie zusammen die Berge entdeckt.</p>
                    </div>
                    <label for="card29" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card30" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Spongebob Schwammkopf.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card30" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Spongebob Schwammkopf</h2><br/></div>
                    <div class="details">2010</div>
                    <div class="details">FSK6</div>
                    <div class="details">10 Staffeln</div>
                    <div class="description">
                        <p>In der Unterwasserwelt Bodensee lebt der kleine Spongebob mit seinen Freunden Pady, Freddy und Ducky. Das Leben der Freunde ist sehr interessant und stellt sie täglich vor neuen Herausforderungen.</p>
                    </div>
                    <label for="card30" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a routerLink="/kids">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>