<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Horror</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card19" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Tick Tack.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card19" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Tick Tack</h2><br/></div>
                    <div class="details">2016</div>
                    <div class="details">FSK16</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Nach dem Verschwinden von dem 6 jährigen Tom läuft die Zeit ihn lebendig zu finden langsam ab.</p>
                    </div>
                    <label for="card19" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card20" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Sumpf See.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card20" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Sumpf See</h2><br/></div>
                    <div class="details">2011</div>
                    <div class="details">FSK18</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Die Ermittler versuchen das Verschwinden von acht Menschen aufzuklären. Die Antwort könnte im Sumpf See liegen.</p>
                    </div>
                    <label for="card20" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card21" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Krieger Der Nacht.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card21" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Krieger der Nacht</h2><br/></div>
                    <div class="details">2015</div>
                    <div class="details">FSK16</div>
                    <div class="details">2 Staffeln</div>
                    <div class="description">
                        <p>Einmal im Jahr ist es erlaubt sich zu töten ohne dass die Taten bestraft werden.</p>
                    </div>
                    <label for="card21" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card22" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/This Door.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card22" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>This door</h2><br/></div>
                    <div class="details">2014</div>
                    <div class="details">FSK18</div>
                    <div class="details">1 Staffel</div>
                    <div class="description">
                        <p>Hinter dieser Türe passieren merkwürdige Dinge und keiner hat es bisher geschafft wieder heil aus dem Haus heraus zu kommen.</p>
                    </div>
                    <label for="card22" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card23" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Unbekannte Dinge.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card23" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Unbekannte Dinge</h2><br/></div>
                    <div class="details">2014</div>
                    <div class="details">FSK16</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Die Gang Chillwatcher, eine Gruppe von Jugendlichen, trifft auf den mysteriösen Paul. Dieser stellt das Leben der Gang buchstäblich auf den Kopf. Und sie wissen nicht mehr ob sie Dinge vergessen oder noch nie gehört haben.</p>
                    </div>
                    <label for="card23" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card24" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Kindsmörder.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card24" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Kindsmörder</h2><br/></div>
                    <div class="details">2016</div>
                    <div class="details">FSK18</div>
                    <div class="details">3 Staffeln</div>
                    <div class="description">
                        <p>Der bisher unbekannte Täter wird von der Polizei mit dem Namen Kindsmörder versehen, da aus der Stadt Ravensburg immer mehr Kinder verschwinden und Monate später Tod aufgefunden werden.</p>
                    </div>
                    <label for="card24" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
</div>