<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Kids</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card25" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Freunde.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card25" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Freunde</h2><br/></div>
                    <div class="details">2017</div>
                    <div class="details">FSK0</div>
                    <div class="details">2 Staffeln</div>
                    <div class="description">
                        <p>Teddy ist der beste Freund von Freddy und begleitet ihn überall hin.</p>
                    </div>
                    <label for="card25" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card26" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Action Park.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card26" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Action Park</h2><br/></div>
                    <div class="details">2012</div>
                    <div class="details">FSK6</div>
                    <div class="details">2 Staffeln</div>
                    <div class="description">
                        <p>Anton entdeckt sein großes Talent das Biken. Er trainiert jeden Tag fleißig im Action park wo es eine lange Bike Strecke gibt.</p>
                    </div>
                    <label for="card26" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card27" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Spielkinder.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card27" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Spielkinder</h2><br/></div>
                    <div class="details">2019</div>
                    <div class="details">FSK0</div>
                    <div class="details">5 Staffeln</div>
                    <div class="description">
                        <p>Das Duo Pia und Max entdecken gemeinsam die Welt und erklären dabei was sie erleben.</p>
                    </div>
                    <label for="card27" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card28" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Weihnachtsmann Und Co. KG.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card28" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Weihnachtsmann und Co.KG</h2><br/></div>
                    <div class="details">2012</div>
                    <div class="details">FSK0</div>
                    <div class="details">7 Staffeln</div>
                    <div class="description">
                        <p>Der Weihnachtsmann beschenkt mithilfe seiner fleißigen Elfen die Kinder in ganz Ravensburg, dabei passieren ihm einige Missgeschicke.</p>
                    </div>
                    <label for="card28" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card29" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Heidi Und Peter.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card29" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Heidi und Peter</h2><br/></div>
                    <div class="details">2014</div>
                    <div class="details">FSK6</div>
                    <div class="details">3 Staffeln</div>
                    <div class="description">
                        <p>Heidi die bei ihrer Großmutter Hilde in den Ferien ist trifft auf den jungen Peter mit dem sie zusammen die Berge entdeckt.</p>
                    </div>
                    <label for="card29" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card30" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Spongebob Schwammkopf.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card30" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Spongebob Schwammkopf</h2><br/></div>
                    <div class="details">2010</div>
                    <div class="details">FSK6</div>
                    <div class="details">10 Staffeln</div>
                    <div class="description">
                        <p>In der Unterwasserwelt Bodensee lebt der kleine Spongebob mit seinen Freunden Pady, Freddy und Ducky. Das Leben der Freunde ist sehr interessant und stellt sie täglich vor neuen Herausforderungen.</p>
                    </div>
                    <label for="card30" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
</div>