<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Komödien</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card7" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Love Time.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card7" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Love Time</h2><br/></div>
                    <div class="details">2016</div>
                    <div class="details">FSK12</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Jenny verliebt sich in den gutaussehenden Comedian Marc, der hat allerdings ganz anderes im Kopf.</p>
                    </div>
                    <label for="card7" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card8" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Nah Und Fern.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card8" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Nah und Fern</h2><br/></div>
                    <div class="details">2013</div>
                    <div class="details">FSK12</div>
                    <div class="details">1 Staffel</div>
                    <div class="description">
                        <p>Der Comedian Dirk macht sich über alle Menschen lustig. Ihm ist das Alter, Religion, Rasse und Kultur dabei völlig egal.</p>
                    </div>
                    <label for="card8" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card9" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Maybe Forever.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card9" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Maybe forever</h2><br/></div>
                    <div class="details">2017</div>
                    <div class="details">FSK6</div>
                    <div class="details">2 Staffeln</div>
                    <div class="description">
                        <p>Das Duo Romeo und Julia nehmen Liebespaare auf den Arm und Filmen mit versteckter Kamera.</p>
                    </div>
                    <label for="card9" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card10" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Urlaub In Den Bergen.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card10" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Urlaub in den Bergen</h2><br/></div>
                    <div class="details">2013</div>
                    <div class="details">FSK6</div>
                    <div class="details">1 Staffel</div>
                    <div class="description">
                        <p>Karl-Heinz der schon Jahrzehnte Urlaub in den Bergen macht reißt darüber Witze wie die Urlauber sich dort verhalten.</p>
                    </div>
                    <label for="card10" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card11" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Moderne Familie.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card11" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Moderne Familie</h2><br/></div>
                    <div class="details">2015</div>
                    <div class="details">FSK12</div>
                    <div class="details">6 Staffeln</div>
                    <div class="description">
                        <p>Die Familien Maier, Müller und Schulze sind drei moderne Familien die familiär verbunden sind. Dennoch könnten die Familien nicht unterschiedlicher sein. </p>
                    </div>
                    <label for="card11" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card12" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/Wie Ich Deine Mutter Kennengelernt Habe.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card12" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Wie ich Deine Mutter kennengelernt habe</h2><br/></div>
                    <div class="details">2005</div>
                    <div class="details">FSK12</div>
                    <div class="details">7 Staffeln</div>
                    <div class="description">
                        <p>Karl erzählt seinen fünf Kindern wie er ihre Mutter vor 20 Jahren kennengelernt hat. Dabei lüftet er bisher noch unbekannte Geheimnisse die er besser für sich behalten hätte.</p>
                    </div>
                    <label for="card12" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
</div>