<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre"><h2>Thriller</h2></div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card1" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/letzter_flug_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card1" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Letzter Flug</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2014</div>
                    <div class="details">FSK16</div>
                    <div class="details">5 Staffeln</div> 
                    <div class="description">
                        <p>Das Team um Manfred besitzt einen Heißluftballon mit denen sie Rundflüge anbieten. Doch sie kommen in Verdacht der Polizei da immer mehr Gäste nicht mehr lebend heimkommen.</p>
                    </div>                
                    <label for="card1" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card2" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/maffia_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card2" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Maffia</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2016</div>
                    <div class="details">FSK18</div>
                    <div class="details">3 Staffeln</div> 
                    <div class="description">
                        <p>Der Maffiaboss Frank macht viel Geld in der Drogenszene doch sein Cousin Paul will ihm Konkurrenz machen.  Das endet in einem blutigen Krieg.</p>
                    </div>                    
                    <label for="card2" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card3" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/stahlwerk_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card3" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Stahlwerk</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2012</div>
                    <div class="details">FSK18</div>
                    <div class="details">2 Staffeln</div> 
                    <div class="description">
                        <p>In einem Stahlwerk in dem kleinen Ort Osterhofen gehen merkwürdige Dinge vor sich. Die Lieferanten bekommen nicht nur Stahl geliefert.</p>
                    </div>                    
                    <label for="card3" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card4" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/shoot_out_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card4" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Shoot out</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2018</div>
                    <div class="details">FSK16</div>
                    <div class="details">4 Staffeln</div> 
                    <div class="description">
                        <p>Marie möchte sich gegen die übernatürlichen Dinge die bei Nacht vor sich gehen wehren können, deshalb macht sie den Waffenschein und legt sich mehrere Waffen zu. Wird ihr dies helfen?</p>
                    </div>                
                    <label for="card4" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card5" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/liars_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card5" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Liars</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2017</div>
                    <div class="details">FSK12</div>
                    <div class="details">7 Staffeln</div> 
                    <div class="description">
                        <p>Vier Freundinnen Lea, Laura, Lena und Leonie leben in einem Vorort von Ravensburg. Nach dem spurlosen Verschwinden ihrer Freundin Leila wird das Leben der vier Freundinnen komplett auf den Kopf gestellt.</p>
                    </div>                    
                    <label for="card5" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card6" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/zombies_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card6" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Zombies</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2016</div>
                    <div class="details">FSK16</div>
                    <div class="details">10 Staffeln</div> 
                    <div class="description">
                        <p>Eine Zombie Apokalypse bricht in Ravensburg aus. Wer wird der Sieger werden die Zombies oder die Menschheit?</p>
                    </div>                
                    <label for="card6" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
</div>
