<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>



<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class=" container">
            <a class="navbar-brand" href="#">
                <img src="assets/img/Logo/Chillwatcher-Logo.svg" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">
                            <span class="fa fa-dashcube"></span>Startseite <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/series" routerLinkActive="active">
                            <span class="fa fa-heart"></span>Serien
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/movies" routerLinkActive="active">
                            <span class="fa fa-film"></span>Filme
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/recently-added" routerLinkActive="active">
                            <span class="fa fa-hourglass"></span>Kürzlich hinzugefügt
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/my-list" routerLinkActive="active">
                            <span class="fa fa-list"></span>Meine Liste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/smart-home" routerLinkActive="active">
                            <span class="fa fa-home"></span>SmartHome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/movie-Form" routerLinkActive="active">
                            <span class="fa fa-wpforms"></span>Film-Formular</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer class="page-footer font-small indigo">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Navigation</h5>
                    <ul class="list-unstyled">
                        <li><a routerLink="/home">Startseite</a></li>
                        <li><a routerLink="/series">Serien</a></li>
                        <li><a routerLink="/movies">Filme</a></li>
                        <li><a routerLink="/recently-added">Kürzlich hinzugefügt</a></li>
                        <li><a routerLink="/my-list">Meine Liste</a></li>
                        <li><a routerLink="/smart-home">SmartHome</a></li>
                        <li><a routerLink="/movie-Form">Film-Formular</a></li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Rechtlich</h5>
                    <ul class="list-unstyled">
                        <li><a routerLink="/impressum">Impressum</a></li>
                        <li><a routerLink="/privacy">Datenschutz</a></li>
                    </ul>

                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Account</h5>
                    <ul class="list-unstyled">
                        <li><a routerLink="/konto-details">Konto-Details</a></li>
                        <li><a routerLink="/login">Abmelden</a></li>
                    </ul>
                </div>
            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a routerLink="/home"> ChillWatcher.de</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>