<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre"><h2>Thriller</h2></div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card1" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/das_tal_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card1" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Das Tal</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2017</div>
                    <div class="details">FSK18</div>
                    <div class="details">1 Std. 55 Min.</div> 
                    <div class="description">
                        <p>Bauer Franz wurde brutal ermordet und anschließend an seine Kühe verfüttert. Die einzige Information, die den Polizisten vorliegt, ist, dass Franz ein lang gesuchter Auftragskiller war.</p>
                    </div>                
                    <label for="card1" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card2" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/schlagabtausch_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card2" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Schlagabtausch</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2015</div>
                    <div class="details">FSK16</div>
                    <div class="details">2 Std. 11 Min.</div> 
                    <div class="description">
                        <p>Die gutgläubige Luna hat sich auf die falschen Leute eingelassen. Nun ist nicht nur sie, sondern auch ihre Familie in Gefahr. Um diese zu schützen riskiert sie ihr Leben.</p>
                    </div>                    
                    <label for="card2" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card3" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/kampfgebiet_2.0_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card3" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Kampfgebiet 2.0</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2015</div>
                    <div class="details">FSK18</div>
                    <div class="details">1 Std. 44 Min.</div> 
                    <div class="description">
                        <p>Kommissar Porzelt befindet sich in einem Undercover Einsatz mit seinem Kollegen. Als beide auffliegen, stirbt sein Kollege. Seither befindet sich Kommissar Porzelt auf alleiniger Flucht am Arsch der Welt.</p>
                    </div>                    
                    <label for="card3" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card4" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/infinity_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card4" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Infinity</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2005</div>
                    <div class="details">FSK16</div>
                    <div class="details">1 Std. 39 Min.</div> 
                    <div class="description">
                        <p>Seit mehr als 30 Jahren wird immer an Ostern ein Mensch in Kiel ermordet. Kommissar Behrens ist es in den 30 Jahren nicht gelungen, den Täter zu schnappen. Und in 5 Tagen ist es wieder soweit… Ostern steht vor der Tür.</p>
                    </div>                
                    <label for="card4" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
        <div class="card">
           <input type="checkbox" id="card1" class="more">
            <div class="content">
                <div class="front" style="background-image: url('assets/img/Filme/blutig_f.jpg')">
                    <div class="inner">
                        <div class="videoplay">
                            <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                            </a>
                        </div>
                        <label for="card1" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="titel"><h2>Blutig</h2><br/></div>
                        <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                        <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                        <div class="icons"><span class="fa fa-check"></span></div>-->
                        <div class="details">2018</div>
                        <div class="details">FSK18</div>
                        <div class="details">1 Std. 22 Min.</div> 
                        <div class="description">
                            <p>Mehrere junge Frauen werden von der Stadt Ravensburg gekidnappt, gefoltert und in einer alten Lagerhalle festgehalten. Können sie dem irren Entführer entfliehen?</p>
                        </div>                
                        <label for="card1" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                    </div>
                </div>
            </div>
        <div class="card">
            <input type="checkbox" id="card3" class="more">
            <div class="content">
                <div class="front" style="background-image: url('assets/img/Filme/der_nebel_f.jpg')">
                    <div class="inner">
                        <div class="videoplay">
                            <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                            </a>
                        </div>
                        <label for="card3" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="titel"><h2>Der Nebel</h2><br/></div>
                        <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                        <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                        <div class="icons"><span class="fa fa-check"></span></div>-->
                        <div class="details">2010</div>
                        <div class="details">FSK16</div>
                        <div class="details">2 Std. 2 Min.</div> 
                        <div class="description">
                            <p>Ein junger Mann verschwindet im Nebel, als er nach 2 Tagen immer noch nicht zuhause ist macht sich sein bester Freund Peter auf den Weg doch was er entdeckt hätte er niemals erwartet.</p>
                        </div>                    
                        <label for="card3" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                    </div>
                </div>
            </div>
        </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a href="">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre"><h2>Komödien</h2></div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card7" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/suche_nach_meer_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card7" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Suche nach Meer</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2016</div>
                    <div class="details">FSK6</div>
                    <div class="details">1 Std. 53 Min.</div> 
                    <div class="description">
                        <p>Mia hat noch nie das Meer gesehen und geflogen ist sie auch noch nie. Nach ihrem Lottogewinn begibt sie sich auf die Reise nach Südamerika auf der Suche nach Meer…</p>
                    </div>                    
                    <label for="card7" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card8" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/wüstensand_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card8" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Wüstensand</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2016</div>
                    <div class="details">FSK0</div>
                    <div class="details">1 Std. 59 Min.</div> 
                    <div class="description">
                        <p>Moritz hat sich gerade von seiner Frau getrennt. Den gemeinsamen Urlaub tritt er nun allein an. Seine Motivation, allein das Land zu erkunden hält sich in Grenzen, bis er auf Annika trifft…</p>
                    </div>                    
                    <label for="card8" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card9" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/flowerpower_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card9" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Flowerpower</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2017</div>
                    <div class="details">FSK0</div>
                    <div class="details">2 Std. 02 Min.</div> 
                    <div class="description">
                        <p>Seit 3 Wochen bekommt Lisa täglich einen Blumenstrauß von ihrem Freund, den sie im Internet kennengelernt hat, zugeschickt. Sie kann es kaum erwarten ihn endlich zu treffen.</p>
                    </div>                
                    <label for="card9" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card10" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/beste_freunde_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card10" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Beste Freunde</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2019</div>
                    <div class="details">FSK6</div>
                    <div class="details">1 Std. 56 Min.</div> 
                    <div class="description">
                        <p>Benny ist ein Hund zugelaufen. Obwohl er bisher wenig mit Tieren anfangen konnte, merkt er schnell, dass Bello ein ganz besonderer Hund ist...</p>
                    </div>                    
                    <label for="card10" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
        <div class="card">
            <input type="checkbox" id="card5" class="more">
            <div class="content">
                <div class="front" style="background-image: url('assets/img/Filme/sexy_f.jpg')">
                    <div class="inner">
                        <div class="videoplay">
                            <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                            </a>
                        </div>
                        <label for="card5" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="titel"><h2>Sexy</h2><br/></div>
                        <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                        <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                        <div class="icons"><span class="fa fa-check"></span></div>-->
                        <div class="details">2015</div>
                        <div class="details">FSK16</div>
                        <div class="details">1 Std. 54 Min.</div> 
                        <div class="description">
                            <p>Die junge gut aussehende Mary hat ihr Leben weitestgehend im Griff, jedoch passieren ihr mit Männern die ihr gefallen die peinlichsten Dinge.</p>
                        </div>                    
                        <label for="card5" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                    </div>
                </div>
            </div>
        <div class="card">
            <input type="checkbox" id="card7" class="more">
            <div class="content">
                <div class="front" style="background-image: url('assets/img/Filme/der_macho_f.jpg')">
                    <div class="inner">
                        <div class="videoplay">
                            <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                            </a>
                        </div>
                        <label for="card7" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="titel"><h2>Der Macho</h2><br/></div>
                        <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                        <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                        <div class="icons"><span class="fa fa-check"></span></div>-->
                        <div class="details">2010</div>
                        <div class="details">FSK12</div>
                        <div class="details">1 Std. 22 Min.</div> 
                        <div class="description">
                            <p>Der Macho so wird Franz in den Kreisen in denen er sich umgibt auch genannt. Er sieht nicht nur gut aus sondern hat auch noch was im Köpfchen.</p>
                        </div>                
                        <label for="card7" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                    </div>
                </div>
            </div>
        </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a href="">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre"><h2>Drama</h2></div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card13" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/der_letzte_schritt_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card13" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Der letzte Schritt</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2015</div>
                    <div class="details">FSK16</div>
                    <div class="details">1 Std. 48 Min.</div> 
                    <div class="description">
                        <p>Louis ist ein Außenseiter. Er versucht alles um Anschluss zu finden und so lässt er sich auf eine lebensgefährliche Mutprobe ein. Gemäß dem Motto „alles oder nichts“.</p>
                    </div>                    
                    <label for="card13" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card14" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/you_are_alone_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card14" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>You are alone...</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2017</div>
                    <div class="details">FSK12</div>
                    <div class="details">1 Std. 41 Min.</div> 
                    <div class="description">
                        <p>Mr. Spock wurde vor 15 Jahren wegen Mordes verurteilt. Heute ist der Tag, an dem er entlassen wird. All seine Freunde und Verwandten haben sich von ihm abgewandt. Obwohl er sich an die Tatnacht nicht erinnern kann, will er nun seine Unschuld beweisen.</p>
                    </div>                
                    <label for="card14" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card15" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/weg_zum_ziel_ist_lang_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card15" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Weg zum Ziel ist lang</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2014</div>
                    <div class="details">FSK16</div>
                    <div class="details">1 Std. 55 Min.</div> 
                    <div class="description">
                        <p>Monika möchte wieder zurück zu sich finden. Sie begibt sich allein auf eine lange Wanderung über Berge und Täler. Ohne ein Ziel marschiert sie los…</p>
                    </div>                    
                    <label for="card15" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card16" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/dem_himmel_nah_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card16" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Dem Himmel nah</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2019</div>
                    <div class="details">FSK16</div>
                    <div class="details">2 Std. 49 Min.</div> 
                    <div class="description">
                        <p>Hans ist krank. Todkrank. Ausgerechnet jetzt trifft er auf die Liebe seines Lebens. Er will alles erleben, was eine Ehe ausmacht, doch ihm läuft die Zeit davon.</p>
                    </div>                    
                    <label for="card16" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
        </div>
        <div class="card">
            <input type="checkbox" id="card9" class="more">
            <div class="content">
                <div class="front" style="background-image: url('assets/img/Filme/the_crown_f.jpg')">
                    <div class="inner">
                        <div class="videoplay">
                            <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                            </a>
                        </div>
                        <label for="card9" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="titel"><h2>The Crown</h2><br/></div>
                        <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                        <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                        <div class="icons"><span class="fa fa-check"></span></div>-->
                        <div class="details">2014</div>
                        <div class="details">FSK16</div>
                        <div class="details">2 Std. 22 Min.</div> 
                        <div class="description">
                            <p>Die junge Prinzessin Elli soll zur Königin gekrönt werden. Doch während der Zeremonie meldet sich ihr bisher unbekannter älterer Bruder. </p>
                        </div>                    
                        <label for="card9" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                    </div>
                </div>
            </div>
        <div class="card">
            <input type="checkbox" id="card11" class="more">
            <div class="content">
                <div class="front" style="background-image: url('assets/img/Filme/schach_matt_f.jpg')">
                    <div class="inner">
                        <div class="videoplay">
                            <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                            </a>
                        </div>
                        <label for="card11" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="titel"><h2>Schach matt</h2><br/></div>
                        <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                        <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                        <div class="icons"><span class="fa fa-check"></span></div>-->
                        <div class="details">2019</div>
                        <div class="details">FSK12</div>
                        <div class="details">1 Std. 42 Min.</div> 
                        <div class="description">
                            <p>Die junge Xenia möchte ihrem zukünftigen Ehemann ein Freude bereiten, doch diese verläuft nicht wie gedacht und es taucht Xenias Ex-Freund auf. Findet Xenia einen Ausweg aus ihrer Misere? </p>
                        </div>                    
                        <label for="card11" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                    </div>
                </div>
            </div>
        </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a href="">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre"><h2>Horror</h2></div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card19" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/3-2-1_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card19" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>3-2-1 ...</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2016</div>
                    <div class="details">FSK16</div>
                    <div class="details">1 Std. 38 Min.</div> 
                    <div class="description">
                        <p>Tom besucht seine Schwiegereltern. Von diesen wird er immer mehr in die Ecke gedrängt. Als plötzlich sein Handy verschwindet, verliert er jeglichen Kontakt zu Außenwelt. Eine Flucht zurück kaum möglich, denn überall befinden sich fallen…</p>
                    </div>                
                    <label for="card19" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card20" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/hole_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card20" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Hole</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2015</div>
                    <div class="details">FSK18</div>
                    <div class="details">2 Std. 01 Min.</div> 
                    <div class="description">
                        <p>Die Stadt Köln hat ein Problem. Seit 3 Wochen werden täglich Leichen ohne Kopf gefunden. Der Täter hat die volle Kontrolle und spielt mit den Kommissaren. Die ganze Stadt ist wie gelähmt.</p>
                    </div>                    
                    <label for="card20" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card21" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/mister_x_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card21" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Mister X</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2011</div>
                    <div class="details">FSK16</div>
                    <div class="details">1 Std. 52 Min.</div> 
                    <div class="description">
                        <p>Die berühmte Künstlerin Susanne Picasso wurde brutal ermordet. Am Tag vor ihrem Tag, berichtete sie der Polizei, dass sie verfolgt werde. In der Stadt ist dies nicht der erste Fall. Haben sie es hier mit einem Serienmörder zu tun?</p>
                    </div>                    
                    <label for="card21" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card22" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/wand_voll_angst_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card22" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Wand voll Angst</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2014</div>
                    <div class="details">FSK18</div>
                    <div class="details">1 Std. 53 Min.</div> 
                    <div class="description">
                        <p>Marie steht unter Strom. Seit Wochen wird jede Nacht ein Bild von ihr an einer Wand in ihrem Haus angebracht. Der Polizei gelingt es trotz ständiger Anwesenheit nicht den Stalker zu stellen. Marie ist psychisch komplett am Ende ihrer Kräfte. Was will der Täter von ihr?</p>
                    </div>                
                    <label for="card22" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
        <div class="card">
            <input type="checkbox" id="card13" class="more">
            <div class="content">
                <div class="front" style="background-image: url('assets/img/Filme/paranormale_aktivitäten_f.jpg')">
                    <div class="inner">
                        <div class="videoplay">
                            <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                            </a>
                        </div>
                        <label for="card13" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="titel"><h2>Paranormale Aktivitäten</h2><br/></div>
                        <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                        <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                        <div class="icons"><span class="fa fa-check"></span></div>-->
                        <div class="details">2013</div>
                        <div class="details">FSK18</div>
                        <div class="details">1 Std. 52 Min.</div> 
                        <div class="description">
                            <p>Die Familie Bauer zieht in ihr neues Haus, doch schnell stellt sich heraus warum die Immobilie so günstig war. Sie sind nicht die einzigen Bewohner im Haus.</p>
                        </div>                
                        <label for="card13" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                    </div>
                </div>
            </div>
        <div class="card">
            <input type="checkbox" id="card15" class="more">
            <div class="content">
                <div class="front" style="background-image: url('assets/img/Filme/help_me_f.jpg')">
                    <div class="inner">
                        <div class="videoplay">
                            <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                            </a>
                        </div>
                        <label for="card15" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="titel"><h2>Help me</h2><br/></div>
                        <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                        <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                        <div class="icons"><span class="fa fa-check"></span></div>-->
                        <div class="details">2013</div>
                        <div class="details">FSK18</div>
                        <div class="details">1 Std. 46 Min.</div> 
                        <div class="description">
                            <p>Die junge Doro wird von einem unbekannten gekidnappt, gefesselt und schließlich lebendig begraben. Wird sie es überleben? </p>
                        </div>                    
                        <label for="card15" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                    </div>
                </div>
            </div>
        </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a href="">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre"><h2>Kids</h2></div>
                </div>
            </div>
        </div>
    <div class="card">
        <input type="checkbox" id="card25" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/fight_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card25" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Freunde</h2><br/></div>
                    <!--div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2017</div>
                    <div class="details">FSK6</div>
                    <div class="details">1 Std. 55 Min.</div> 
                    <div class="description">
                        <p>Mike hat einen Traum: Er will unbedingt Basketballprofi werden. Damit er diesem Traum näherkommt, wechselt er in ein Internat. Zu Beginn hat er einige Startschwierigkeiten. Findet er zurück zu alter Stärke?</p>
                    </div>                    
                    <label for="card25" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card26" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/peter_feiert_silvester_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card26" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Peter feiert Silvester</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2014</div>
                    <div class="details">FSK0</div>
                    <div class="details">1 Std. 29 Min.</div> 
                    <div class="description">
                        <p>Endlich! In einer Woche ist Silvester. Sein Vater hat ihm versprochen, dass er dieses Jahr erstmals Raketen selbst anzünden darf. Peter kann es kaum erwarten und würde am liebsten schon jetzt loslegen.</p>
                    </div>                    
                    <label for="card26" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card27" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/smart_boss_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card27" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Smart Boss</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2019</div>
                    <div class="details">FSK0</div>
                    <div class="details">1 Std. 54 Min.</div> 
                    <div class="description">
                        <p>Bill bekommt ein Geschwisterkind, doch die Freude das Jungen ist nicht gerade groß. Er hat doch so gerne die volle Aufmerksamkeit. Wird Bill die neue Situation anfreunden oder um sein Einzelkind-Status kämpfen?</p>
                    </div>                
                    <label for="card27" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card28" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/spiel_mit_mir_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card28" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Spiel mit mir</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2012</div>
                    <div class="details">FSK0</div>
                    <div class="details">1 Std. 33 Min.</div> 
                    <div class="description">
                        <p>Mia liebt es zu spielen. Doch allein macht es kein Spaß. Doch sie hat einen Plan: Sie braucht ein Geschwisterchen. Doch ihre Eltern sehen dieses Thema sehr kritisch…</p>
                    </div>                    
                    <label for="card28" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
        <div class="card">
            <input type="checkbox" id="card17" class="more">
            <div class="content">
                <div class="front" style="background-image: url('assets/img/Filme/bienchen_entdeckt_die_welt_f.jpg')">
                    <div class="inner">
                        <div class="videoplay">
                            <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                            </a>
                        </div>
                        <label for="card17" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="titel"><h2>Bienchen entdeckt die Welt</h2><br/></div>
                        <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                        <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                        <div class="icons"><span class="fa fa-check"></span></div>-->
                        <div class="details">2015</div>
                        <div class="details">FSK6</div>
                        <div class="details">1 Std. 32 Min.</div> 
                        <div class="description">
                            <p>Die junge Biene Lilli darf zum ersten Mal das Bienennest verlassen und entdeckt viele neue Dinge.</p>
                        </div>                    
                        <label for="card17" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                    </div>
                </div>
            </div>
        <div class="card">
            <input type="checkbox" id="card19" class="more">
            <div class="content">
                <div class="front" style="background-image: url('assets/img/Filme/wilde_tiere_f.jpg')">
                    <div class="inner">
                        <div class="videoplay">
                            <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                            </a>
                        </div>
                        <label for="card19" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="titel"><h2>Wilde Tiere</h2><br/></div>
                        <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                        <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                        <div class="icons"><span class="fa fa-check"></span></div>-->
                        <div class="details">2017</div>
                        <div class="details">FSK6</div>
                        <div class="details">1 Std. 10 Min.</div> 
                        <div class="description">
                            <p>Die wilden Tiere entdecken die Welt des Zoos und lernen neue Begriffe kennen.</p>
                        </div>                
                        <label for="card19" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="front">
                    <div class="more-videos">
                        <a href="">
                            <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                            <h4>More</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>


