<div class="container">
    <div [hidden]="submitted">
        <h1>Registrierung</h1>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <mat-form-field>
                <div class="form-group">
                    <input matInput placeholder="Vorname" id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel" pattern="[a-zA-Z ]*" [maxlength]="40">
                    <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                        Kein gültiger Vorname (erlaubt sind nur die Buchstaben a-zA-Z).
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field>
                <div class="form-group">
                    <input matInput placeholder="Nachname" id="lastName" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel" pattern="[a-zA-Z ]*" [maxlength]="40">
                    <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                        Kein gültiger Nachname (erlaubt sind nur die Buchstaben a-zA-Z).
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field>
                <div class="form-group">
                    <input matInput placeholder="Postleitzahl" id="postcode" required [(ngModel)]="model.postcode" name="postcode" #postcode="ngModel" pattern="[0-9 ]*" [maxlength]="5">
                    <div [hidden]=" postcode.valid || postcode.pristine " class="alert alert-danger ">
                        Keine gültige Postleitzahl (erlaubt sind nur Zahlen).
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field>
                <div class="form-group">
                    <input matInput placeholder="Stadt" id="city" required [(ngModel)]="model.city" name="city" #city="ngModel" pattern="[a-zA-Z ]*" [maxlength]="40">
                    <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                        Keine gültige Stadt (erlaubt sind nur die Buchstaben a-zA-Z).
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field>
                <div class="form-group">
                    <input matInput placeholder="Straße" id="street" required [(ngModel)]="model.street" name="street" #street="ngModel" pattern="[a-zA-Z ]*" [maxlength]="40">
                    <div [hidden]="street.valid || street.pristine" class="alert alert-danger">
                        Keine gültige Straße (erlaubt sind nur die Buchstaben a-zA-Z).
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field>
                <div class="form-group">
                    <input matInput placeholder="Hausnummer" id="houseNumber" required [(ngModel)]="model.houseNumber" name="houseNumber" #houseNumber="ngModel" pattern="[0-9, ]*" [maxlength]="4">
                    <div [hidden]=" houseNumber.valid || houseNumber.pristine " class="alert alert-danger ">
                        Keine gültige Hausnummer (erlaubt sind nur Zahlen, Hausnummern wie "24/2" werden als "24,2" eingegeben).
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field>
                <div class="form-group">
                    <input matInput placeholder="IBAN" id="iban" required [(ngModel)]="model.iban" name="iban" #iban="ngModel" pattern="[a-zA-Z0-9 ]*" [maxlength]="40">
                    <div [hidden]=" iban.valid || iban.pristine " class="alert alert-danger ">
                        Keine gültige IBAN (erlaubt sind nur Zahlen und Buchstaben, keine Sonderzeichen).
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-select matInput placeholder="Art des Abonnements" required [(ngModel)]="model.abo" name="abo" #abo="ngModel">
                    <mat-option value="0">Basic (7,99€)</mat-option>
                    <mat-option value="1">Standard (11,99€)</mat-option>
                    <mat-option value="2">Premium (15,99€)</mat-option>
                </mat-select>
                <div [hidden]="abo.valid || abo.pristine" class="alert alert-danger">
                    Kein gültiges Abonnement. Wählen sie eins der drei vorliegenden Abonnements aus.
                </div>
            </mat-form-field>
            <mat-form-field>
                <div class="form-group">
                    <input matInput placeholder="eMail-Adresse" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [maxlength]="40">
                    <div [hidden]=" email.valid || email.pristine " class="alert alert-danger ">
                        Keine gültige eMail-Adresse (Sonderzeichen sind nicht erlaubt).
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field>
                <div class="form-group">
                    <input type="password" matInput placeholder="Passwort" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel" [maxlength]="40">
                    <div [hidden]=" password.valid || password.pristine " class="alert alert-danger ">
                        Kein gültiges Passwort.
                    </div>
                </div>
            </mat-form-field>
            <button type="submit " class="btn btn-success " (click)="newUser(); userForm.reset() " routerLink="/home" [disabled]="!userForm.form.valid ">Senden</button>
        </form>
    </div>
</div>