<div class="card-column">
    <div class="card">
        <input type="checkbox" id="card1" class="more">
        <div class="content">
            <div class="front">
                <div class="inner">
                    <h2>Basis-Abo</h2><br/>
                    <div class="details"><p>Preis:</p>
                    <p>HD verfügbar</p>
                    <p>Ultra-HD verfügbar</p>
                    <p>Anzahl der Geräte</p>
                    <p>Laptop, TV, Smartphone und Tablet</p>
                    <p>Unbegrenzter Zugang</p>
                    <p>Jederzeit kündbar</p>
                    <p>Erster Monat kostenlos</p></div>
                    <div class="description"><p>7,99 €</p>
                    <p>Nein</p>
                    <p>Nein</p>
                    <p>1</p>
                    <p>Ja</p>
                    <p>Ja</p>
                    <p>Ja</p>
                    <p>Ja</p></div>
                <label for="card1" class="button" aria-hidden="true">Auswählen</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card1" class="more">
        <div class="content">
            <div class="front">
                <div class="inner">
                    <h2>Standard-Abo</h2><br/>
                    <div class="details"><p>Preis:</p>
                    <p>HD verfügbar</p>
                    <p>Ultra-HD verfügbar</p>
                    <p>Anzahl der Geräte</p>
                    <p>Laptop, TV, Smartphone und Tablet</p>
                    <p>Unbegrenzter Zugang</p>
                    <p>Jederzeit kündbar</p>
                    <p>Erster Monat kostenlos</p></div>
                    <div class="description"><p>11,99 €</p>
                    <p>Ja</p>
                    <p>Nein</p>
                    <p>2</p>
                    <p>Ja</p>
                    <p>Ja</p>
                    <p>Ja</p>
                    <p>Ja</p></div>
                <label for="card1" class="button" aria-hidden="true">Auswählen</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card1" class="more">
        <div class="content">
            <div class="front">
                <div class="inner">
                    <h2>Premium-Abo</h2><br/>
                    <div class="details"><p>Preis:</p>
                    <p>HD verfügbar</p>
                    <p>Ultra-HD verfügbar</p>
                    <p>Anzahl der Geräte</p>
                    <p>Laptop, TV, Smartphone und Tablet</p>
                    <p>Unbegrenzter Zugang</p>
                    <p>Jederzeit kündbar</p>
                    <p>Erster Monat kostenlos</p></div>
                    <div class="description"><p>15,99 €</p>
                    <p>Ja</p>
                    <p>Ja</p>
                    <p>4</p>
                    <p>Ja</p>
                    <p>Ja</p>
                    <p>Ja</p>
                    <p>Ja</p></div>
                <label for="card1" class="button" aria-hidden="true">Auswählen</label>
                </div>
            </div>
        </div>
    </div>
</div>
