<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Thriller</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card1" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/blutig_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card1" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Blutig</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2018</div>
                    <div class="details">FSK18</div>
                    <div class="details">1 Std. 22 Min.</div>
                    <div class="description">
                        <p>Mehrere junge Frauen werden von der Stadt Ravensburg gekidnappt, gefoltert und in einer alten Lagerhalle festgehalten. Können sie dem irren Entführer entfliehen?</p>
                    </div>
                    <label for="card1" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card2" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/liars_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card2" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Liars</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2017</div>
                    <div class="details">FSK12</div>
                    <div class="details">7 Staffeln</div>
                    <div class="description">
                        <p>Vier Freundinnen Lea, Laura, Lena und Leonie leben in einem Vorort von Ravensburg. Nach dem spurlosen Verschwinden ihrer Freundin Leila wird das Leben der vier Freundinnen komplett auf den Kopf gestellt.</p>
                    </div>
                    <label for="card2" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card3" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/der_nebel_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card3" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Der Nebel</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2010</div>
                    <div class="details">FSK16</div>
                    <div class="details">2 Std. 2 Min.</div>
                    <div class="description">
                        <p>Ein junger Mann verschwindet im Nebel, als er nach 2 Tagen immer noch nicht zuhause ist macht sich sein bester Freund Peter auf den Weg doch was er entdeckt hätte er niemals erwartet.</p>
                    </div>
                    <label for="card3" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card4" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/zombies_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card4" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Zombies</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2016</div>
                    <div class="details">FSK16</div>
                    <div class="details">10 Staffeln</div>
                    <div class="description">
                        <p>Eine Zombie Apokalypse bricht in Ravensburg aus. Wer wird der Sieger werden die Zombies oder die Menschheit?</p>
                    </div>
                    <label for="card4" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a href="/thriller">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Komödien</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card5" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/sexy_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card5" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Sexy</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2015</div>
                    <div class="details">FSK16</div>
                    <div class="details">1 Std. 54 Min.</div>
                    <div class="description">
                        <p>Die junge gut aussehende Mary hat ihr Leben weitestgehend im Griff, jedoch passieren ihr mit Männern die ihr gefallen die peinlichsten Dinge.</p>
                    </div>
                    <label for="card5" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card6" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/moderne_familie_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card6" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Moderne Familie</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2015</div>
                    <div class="details">FSK12</div>
                    <div class="details">6 Staffel</div>
                    <div class="description">
                        <p>Die Familien Maier, Müller und Schulze sind drei moderne Familien die familiär verbunden sind. Dennoch könnten die Familien nicht unterschiedlicher sein. </p>
                    </div>
                    <label for="card6" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card7" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/der_macho_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card7" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Der Macho</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2010</div>
                    <div class="details">FSK12</div>
                    <div class="details">1 Std. 22 Min.</div>
                    <div class="description">
                        <p>Der Macho so wird Franz in den Kreisen in denen er sich umgibt auch genannt. Er sieht nicht nur gut aus sondern hat auch noch was im Köpfchen.</p>
                    </div>
                    <label for="card7" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card8" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/wie_ich_deine_mutter_kennengelernt_habe_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card8" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Wie ich Deine Mutter kennengelernt habe</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2005</div>
                    <div class="details">FSK12</div>
                    <div class="details">7 Staffeln</div>
                    <div class="description">
                        <p>Karl erzählt seinen fünf Kindern wie er ihre Mutter vor 20 Jahren kennengelernt hat. Dabei lüftet er bisher noch unbekannte Geheimnisse die er besser für sich behalten hätte.</p>
                    </div>
                    <label for="card8" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a href="/komoedien">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Drama</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card9" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/the_crown_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card9" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>The Crown</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2014</div>
                    <div class="details">FSK16</div>
                    <div class="details">2 Std. 22 Min.</div>
                    <div class="description">
                        <p>Die junge Prinzessin Elli soll zur Königin gekrönt werden. Doch während der Zeremonie meldet sich ihr bisher unbekannter älterer Bruder. </p>
                    </div>
                    <label for="card9" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card10" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/kampf_um_den_thron_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card10" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Kampf um den Thron</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2012</div>
                    <div class="details">FSK16</div>
                    <div class="details">8 Staffeln</div>
                    <div class="description">
                        <p>Der Kampf um den Thron der Königslande ist ausgebrochen und die sieben Könige und Königinnen bekriegen sich. Wer wird als Gewinner hervorgehen?</p>
                    </div>
                    <label for="card10" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card11" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/schach_matt_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card11" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Schach matt</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2019</div>
                    <div class="details">FSK12</div>
                    <div class="details">1 Std. 42 Min.</div>
                    <div class="description">
                        <p>Die junge Xenia möchte ihrem zukünftigen Ehemann ein Freude bereiten, doch diese verläuft nicht wie gedacht und es taucht Xenias Ex-Freund auf. Findet Xenia einen Ausweg aus ihrer Misere? </p>
                    </div>
                    <label for="card11" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card12" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/anzüge_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card12" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Anzüge</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2015</div>
                    <div class="details">FSK12</div>
                    <div class="details">6 Staffeln</div>
                    <div class="description">
                        <p>Der junge Bernd ist Hauptberuflicher Trickbetrüger, doch als er auf dem Höhepunkt seine Karriere als Anwalt ausgibt wird viel von ihm verlangt. Werden seine Chefs es jemals herausfinden oder kann Bernd unentdeckt bleiben?</p>
                    </div>
                    <label for="card12" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a href="/drama">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Horror</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card13" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/paranormale_aktivitäten_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card13" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Paranormale Aktivitäten</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2013</div>
                    <div class="details">FSK18</div>
                    <div class="details">1 Std. 52 Min.</div>
                    <div class="description">
                        <p>Die Familie Bauer zieht in ihr neues Haus, doch schnell stellt sich heraus warum die Immobilie so günstig war. Sie sind nicht die einzigen Bewohner im Haus.</p>
                    </div>
                    <label for="card13" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card14" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/unbekannte_dinge_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card14" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Unbekannte Dinge</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2014</div>
                    <div class="details">FSK16</div>
                    <div class="details">4 Staffeln</div>
                    <div class="description">
                        <p>Die Gang Chillwatcher, eine Gruppe von Jugendlichen, trifft auf den mysteriösen Paul. Dieser stellt das Leben der Gang buchstäblich auf den Kopf. Und sie wissen nicht mehr ob sie Dinge vergessen oder noch nie gehört haben.</p>
                    </div>
                    <label for="card14" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card15" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/help_me_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card15" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Help me</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2013</div>
                    <div class="details">FSK18</div>
                    <div class="details">1 Std. 46 Min.</div>
                    <div class="description">
                        <p>Die junge Doro wird von einem unbekannten gekidnappt, gefesselt und schließlich lebendig begraben. Wird sie es überleben? </p>
                    </div>
                    <label for="card15" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card16" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/kindsmörder_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card16" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Kindsmörder</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2016</div>
                    <div class="details">FSK18</div>
                    <div class="details">3 Staffeln</div>
                    <div class="description">
                        <p>Der bisher unbekannte Täter wird von der Polizei mit dem Namen Kindsmörder versehen, da aus der Stadt Ravensburg immer mehr Kinder verschwinden und Monate später Tod aufgefunden werden.</p>
                    </div>
                    <label for="card16" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a href="/horror">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre">
                    <h2>Kids</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card17" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/bienchen_entdeckt_die_welt_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card17" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Bienchen entdeckt die Welt</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2015</div>
                    <div class="details">FSK6</div>
                    <div class="details">1 Std. 32 Min.</div>
                    <div class="description">
                        <p>Die junge Biene Lilli darf zum ersten Mal das Bienennest verlassen und entdeckt viele neue Dinge.</p>
                    </div>
                    <label for="card17" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card18" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/heidi_&_peter_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card18" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Heidi und Peter</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2014</div>
                    <div class="details">FSK6</div>
                    <div class="details">3 Staffeln</div>
                    <div class="description">
                        <p>Heidi die bei ihrer Großmutter Hilde in den Ferien ist trifft auf den jungen Peter mit dem sie zusammen die Berge entdeckt.</p>
                    </div>
                    <label for="card18" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card19" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Filme/wilde_tiere_f.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card19" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Wilde Tiere</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2017</div>
                    <div class="details">FSK6</div>
                    <div class="details">1 Std. 10 Min.</div>
                    <div class="description">
                        <p>Die wilden Tiere entdecken die Welt des Zoos und lernen neue Begriffe kennen.</p>
                    </div>
                    <label for="card19" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card20" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/spongebob_schwammkopf_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                            <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card20" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel">
                        <h2>Spongebob Schwammkopf</h2><br/></div>
                    <!--<div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>-->
                    <div class="details">2010</div>
                    <div class="details">FSK6</div>
                    <div class="details">10 Staffeln</div>
                    <div class="description">
                        <p>In der Unterwasserwelt Bodensee lebt der kleine Spongebob mit seinen Freunden Pady, Freddy und Ducky. Das Leben der Freunde ist sehr interessant und stellt sie täglich vor neuen Herausforderungen.</p>
                    </div>
                    <label for="card20" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="more-videos">
                    <a href="/kids">
                        <span class="fa fa-caret-right" style="font-size: 50px;"></span>
                        <h4>More</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
