<p>drama works!</p>

<div class="card-group">
<div class="row">
    <div class="column">
    <div class="card">
        <div class="content">
            <div class="front">
                <div class="genre"><h2>Drama</h2></div>
            </div>
        </div>
    </div>
    </div>
    <div class="column">
    <div class="card">
        <input type="checkbox" id="card13" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/last_time_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card13" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Last Time</h2><br/></div>
                    <div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>
                    <div class="details">2012</div>
                    <div class="details">FSK12</div>
                    <div class="details">3 Staffeln</div> 
                    <div class="description">
                        <p>Es sollte der letzte Tag sein an dem sich Lea und Tim sehen, denn was danach passiert änderte das Leben der beiden komplett.</p>
                    </div>                    
                    <label for="card13" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="column">
    <div class="card">
        <input type="checkbox" id="card14" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/lost_place_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card14" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Lost Place</h2><br/></div>
                    <div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>
                    <div class="details">2017</div>
                    <div class="details">FSK16</div>
                    <div class="details">6 Staffeln</div> 
                    <div class="description">
                        <p>An dem verlorenen Ort spielen sich dramatische Szenen ab die, die Teeniegang rainbow nie vergessen wieder vergessen wird.</p>
                    </div>                
                    <label for="card14" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="column">
    <div class="card">
        <input type="checkbox" id="card15" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/letzte_chance_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card15" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Letzte Chance</h2><br/></div>
                    <div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>
                    <div class="details">2011</div>
                    <div class="details">FSK16</div>
                    <div class="details">4 Staffeln</div> 
                    <div class="description">
                        <p>Die Familie Maier sitzt in einer Gondel in den Bergen fest und keine Hilfe ist in Sicht. Werden sie es heil wieder auf den Boden schaffen?</p>
                    </div>                    
                    <label for="card15" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="column">
    <div class="card">
        <input type="checkbox" id="card16" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/decide_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card16" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Decide</h2><br/></div>
                    <div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>
                    <div class="details">2019</div>
                    <div class="details">FSK12</div>
                    <div class="details">1 Staffel</div> 
                    <div class="description">
                        <p>Jürgen stellt seine Frau Irma vor die Entscheidung, entweder sie adoptiert den Sohn ihres Mannes oder er verlässt sie, was aber in der Gesellschaft nicht akzeptiert wird.</p>
                    </div>                    
                    <label for="card16" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="column">
    <div class="card">
        <input type="checkbox" id="card17" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/kampf_um_den_thron_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card17" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Kampf um den Thron</h2><br/></div>
                    <div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>
                    <div class="details">2012</div>
                    <div class="details">FSK16</div>
                    <div class="details">8 Staffeln</div> 
                    <div class="description">
                        <p>Der Kampf um den Thron der Königslande ist ausgebrochen und die sieben Könige und Königinnen bekriegen sich. Wer wird als Gewinner hervorgehen?</p>
                    </div>                
                    <label for="card17" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="column">
    <div class="card">
        <input type="checkbox" id="card18" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/img/Serien/anzüge_s.jpg')">
                <div class="inner">
                    <div class="videoplay">
                        <a href="assets/video.mp4">
                        <span class="fa fa-play-circle" style="font-size: 50px;"></span>
                        </a>
                    </div>
                    <label for="card18" class="button" aria-hidden="true"><span class="fa fa-sort-down" style="font-size: 40px;"></span></label> 
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="titel"><h2>Anzüge</h2><br/></div>
                    <div class="icons"><span class="fa fa-thumbs-up"></span></div>
                    <div class="icons"><span class="fa fa-thumbs-down"></span></div>
                    <div class="icons"><span class="fa fa-check"></span></div>
                    <div class="details">2015</div>
                    <div class="details">FSK12</div>
                    <div class="details">6 Staffeln</div> 
                    <div class="description">
                        <p>Der junge Bernd ist Hauptberuflicher Trickbetrüger, doch als er auf dem Höhepunkt seine Karriere als Anwalt ausgibt wird viel von ihm verlangt. Werden seine Chefs es jemals herausfinden oder kann Bernd unentdeckt bleiben?</p>
                    </div>                    
                    <label for="card18" class="button return" aria-hidden="true"> <span class="fa fa-sort-up" style="font-size: 40px;"></span></label>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="column">
    <div class="card">
        <div class="content">
            <div class="front">
            </div>
        </div>
    </div>
    </div>
    <div class="column">
    <div class="card">
        <div class="content">
                <div class="front">
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
