<div class="container">
    <div [hidden]="submitted">
        <h1>Film hinzufügen</h1>
        <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
            <mat-form-field>
                <div class="form-group">
                    <input matInput placeholder="Filmname, z.B. Peck is back, eine Geschichte boolescher Algebra" id="movieName" required [(ngModel)]="model.movieName" name="movieName" #movieName="ngModel">
                    <div [hidden]="movieName.valid || movieName.pristine" class="alert alert-danger">
                        Filmname wird benötigt
                    </div>
                </div>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Erscheinungsdatum" required [(ngModel)]="model.movieReleaseDate" name="movieReleaseDate" #movieReleaseDate="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                <div [hidden]="movieReleaseDate.valid || movieReleaseDate.pristine" class="alert alert-danger">
                    Veröffentlichungs-Datum wird benötigt
                </div>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Film-Beschreibung" required [(ngModel)]="model.movieDescription" name="movieDescription" #movieDescription="ngModel"></textarea>
                <div [hidden]="movieDescription.valid || movieDescription.pristine" class="alert alert-danger">
                    Film-Beschreibung wird benötigt
                </div>
            </mat-form-field>

            <mat-form-field>
                <mat-select matInput placeholder="Kategorie des Films" required [(ngModel)]="model.movieCategory" name="movieCategory" #movieCategory="ngModel">
                    <mat-option value="Kids">Kids</mat-option>
                    <mat-option value="Thriller">Thriller</mat-option>
                    <mat-option value="Drama">Drama</mat-option>
                    <mat-option value="Horror">Horror</mat-option>
                    <mat-option value="Comedy">Comedy</mat-option>
                </mat-select>
                <div [hidden]="movieCategory.valid || movieCategory.pristine" class="alert alert-danger">
                    Film-Kategorie wird benötigt
                </div>
            </mat-form-field>
            <button type="submit" class="btn btn-success" (click)="newMovie(); movieForm.reset()" [disabled]="!movieForm.form.valid">Senden</button>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" style="color: white;" type="search" placeholder="Titel, Genre, Schauspieler" id="example-search-input" (keypress)="search($event)">
                    <span class="input-group-append">
                                  <div class="input-group-text bg-transparent"><mat-icon>search</mat-icon></div>
                                </span>
                </div>
            </form>
        </form>
    </div>
</div>
<div class="container">
    <div class="card-columns">
        <div class="card" style="width: 18rem;" *ngFor="let movie of movies">
            <img class="card-img-top" [src]="movie.linkToWallpaper" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ movie.movieName }}</h5>
                <p class="card-text">{{ movie.movieDescription }}</p>
            </div>
        </div>
    </div>
</div>