.container
  background-color: rgba(230,230,230,0.7)
  width: 60%
  margin: 0 auto
  margin-top: 175px
  padding: 20px

  .card-group
    margin-top: 50px

    .card
      background-color: rgba(50, 50, 50, 0.4)
      margin-left: 50px
      color: white
      border: none

  form
    display: flex
    flex-direction: column

.container > *
  width: 100%

.input-group
  margin-top: 50px

  .form-control
    background-color: rgba(180, 180, 180, 0.0)

  .form-control::placeholder
    color: rgb(50, 50, 50)